@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main-login {
    height: 100vh;
    width: 100vw;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-esq {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-esq > h1 {
    color: #77ffc0;
    font-size: 3vw;
}

.esq-login-image {
    width: 35vw;
}

.login-dir {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0 10px 40px #00000056;
}

.box-login > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

.textfield > label {
    color:#f0ffffde;
    margin-bottom: 10px;
}

.btn-login {
    width: 100%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0 10px 40px -12px #00ff8052;
}

p {
    color: aliceblue;
}

a {
    color: #f0ffff94;
    text-decoration: none;
}

a:hover {
    color: #00ff88;
}

@media only screen and (max-width: 950px) {
    .box-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .login-esq > h1 {
        display: none;
    }

    .login-esq {
        width: 100%;
        height: auto;
    }

    .login-dir {
        width: 100%;
        height: auto;
    }

    .esq-login-image {
        width: 50vw;
    }

    .box-login{
        width: 90%;
    }
}